[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
"backports.zoneinfo" = "*"
beautifulsoup4 = "*"
certifi = "*"
charset-normalizer = "*"
dj-database-url = "*"
django-environ = "*"
django-heroku = "*"
fontawesome-free = "*"
gunicorn = "*"
idna = "*"
lxml = "*"
mailchimp-marketing = "*"
psycopg2-binary = "*"
python-dateutil = "*"
python-slugify = "*"
pytz = "*"
requests = "*"
six = "*"
soupsieve = "*"
sqlparse = "*"
text-unidecode = "*"
urllib3 = "*"
whitenoise = "*"
Django = "*"

[dev-packages]

[requires]
python_version = "3.8"
