html {
    background-color: #FEFEE1;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
}

nav {
    background-color: #243B42
}

.navbar-brand {
    font-weight: bold; 
    font-style: oblique 20deg; 
    color: #F0F9F3; 
    font-size: 30px;
}

#text-section{
    background-color: #F0F9F3;
    font-size: 16px;
    color: #1A3C3B
}

header h1 {
    font-size: 48px;
    color: #DDF3F7;
    
}

.columns {
    height: 80%;
}

#sidebar-menu {
    background-color: #DDF3F7;
}


.footer-container {
    padding-bottom: 1rem;
}

footer {
    background-color: #243B42;
}

.contact{
    color: #F0F9F3;
    list-style-type: none;
}